# Base de datos PostgreSQL (ej. Neon, Supabase, Local)
DATABASE_URL="postgresql://usuario:password@ep-host.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Servidor Backend
PORT=3000

# Seguridad JWT
JWT_SECRET="super_secret_jwt_key_here"
